@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#app {
  opacity: 0;
  -webkit-transform: translateY(60px) scaleY(0.9) scaleX(0.8);
          transform: translateY(60px) scaleY(0.9) scaleX(0.8);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

footer {
  opacity: 0;
  -webkit-transition: .75s ease;
  transition: .75s ease;
}

* {
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

body {
  background: #ebebeb;
  color: #383838;
  font-family: Roboto, Arial, sans-serif;
  vertical-align: middle;
  overflow: hidden;
}

#app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  padding: 40px 50px;
  border-radius: 8px;
  font-family: Rubik, Arial, sans-serif;
  color: #fcfcfc;
  margin: 6px;
  font-size: 22px;
}

.error-color {
  color: #ff605c;
}

.warning-color {
  color: #e4c151;
}

.success-color {
  color: #62c892;
}

.button-primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38e23), to(#ee820f));
  background: linear-gradient(180deg, #f38e23, #ee820f);
  border: 4px solid #e88115;
}

.button-primary:hover {
  -webkit-box-shadow: 0 0 20px 0 #efa250, 0 0 4px -1px black;
          box-shadow: 0 0 20px 0 #efa250, 0 0 4px -1px black;
}

.button-primary:active {
  -webkit-transition: none !important;
  transition: none !important;
  background: #da7a14;
}

.button-secondary {
  background: -webkit-gradient(linear, left top, left bottom, from(#00b7ab), to(#009e93));
  background: linear-gradient(180deg, #00b7ab, #009e93);
  border: 4px solid #029c92;
}

.button-secondary:hover {
  -webkit-box-shadow: 0 0 20px 0 #6fa4a1, 0 0 4px -1px black;
          box-shadow: 0 0 20px 0 #6fa4a1, 0 0 4px -1px black;
}

.button-secondary:active {
  -webkit-transition: none !important;
  transition: none !important;
  background: #028d84;
}

.no-margin {
  margin: 0;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fas-lock::before {
  margin-right: 10px;
  font-size: 16px;
}

#logo {
  font-size: 24px;
  font-family: Rubik, Arial, sans-serif;
  color: #383838;
  text-align: center;
  margin: 0 6px;
  padding-right: 10px;
}

.warn-area {
  background: #e4c151;
  padding: 16px 24px;
  margin: 20px 6px;
  border: 4px solid #e2bc44;
  border-radius: 8px;
  text-align: center;
}

#top-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 6px;
}

footer {
  padding: 0 20px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 48px;
  width: calc(100% - 40px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #696972;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdd), to(#bcbcbf));
  background: linear-gradient(180deg, #dbdbdd, #bcbcbf);
}

.footer-icon::before {
  padding-left: 10px;
  font-size: 20px;
}

#drop-area {
  width: 100%;
  height: 190px;
  background: rgba(0, 0, 0, 0.05);
  border: 4px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #696972;
}

#import-file-icon::before {
  font-size: 32px;
}

.text-small {
  padding: 0 10px;
  margin: 0;
  margin-bottom: -2px;
  font-size: 12px;
  vertical-align: bottom;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ebebeb;
  border-radius: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  padding: 50px;
  padding-bottom: 32px;
}

.message-icon {
  margin-left: 10px;
}

.message {
  height: 100%;
  width: 100%;
}

.message-text-area {
  margin-left: 16px;
}

.message-header {
  font-family: Rubik, Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  padding-right: 48px;
}

.message-icon:before {
  font-size: 20px;
}

.message-button {
  background: gainsboro;
  color: #383838;
  border: none;
  padding: 20px 32px;
  font-size: 14px;
  -webkit-transition: none;
  transition: none;
  font-family: Roboto, Arial, sans-serif;
}

.message-button:active {
  background: #c2c2c2;
  -webkit-transition: none;
  transition: none;
}

.disabled {
  color: #919191;
}

.password-field {
  color: #383838;
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  background: gainsboro;
  width: 200px;
  margin: 6px 0;
}

.spacer {
  height: 24px;
}
/*# sourceMappingURL=style.css.map */