@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#app-window {
  height: 500px;
  width: 500px;
}

#app {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

footer {
  opacity: 0;
  -webkit-transition: .75s ease;
  transition: .75s ease;
}

* {
  -webkit-transition: .25s ease;
  transition: .25s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background: #dfe0eb;
  color: #606064;
  font-family: Roboto, Arial, sans-serif;
  vertical-align: middle;
  margin: 0;
}

#app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #5749d1;
}

button {
  padding: 40px 50px;
  border-radius: 8px;
  font-family: Rubik, Arial, sans-serif;
  color: #fcfcfc;
  margin: 6px;
  font-size: 22px;
}

button:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.error-color {
  color: #ff605c;
}

.warning-color {
  color: #f7ca38;
}

.success-color {
  color: #62c892;
}

#top-colored-area {
  background: linear-gradient(150deg, #402dee, #7992c7);
  width: 100vw;
  position: relative;
  margin: 0;
  margin-left: -50vw;
  height: 100px;
  left: 50%;
  padding: 40px 0;
}

#top-color-info {
  background: linear-gradient(150deg, #402dee, #7992c7);
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 20px 0;
}

.button-main {
  border-radius: 20px;
  background: #ececf3;
  border: none;
  color: #606064;
  height: 100%;
  margin: 12px;
  -webkit-box-shadow: 0px 8px 22px -6px #c6cbd5;
          box-shadow: 0px 8px 22px -6px #c6cbd5;
}

.button-main:active {
  -webkit-transition: none !important;
  transition: none !important;
  background: #cfd1e1;
}

#button-main-wrapper {
  height: 180px;
  margin-top: 40px;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.overflow {
  overflow-y: scroll !important;
}

.margin-auto {
  margin: auto;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fas-lock::before {
  margin-right: 10px;
  font-size: 16px;
}

.logo {
  font-size: 24px;
  font-family: Rubik, Arial, sans-serif;
  color: #fcfcfc;
  text-align: center;
}

.warn-area {
  margin-left: 40px;
  border-radius: 8px;
  text-align: center;
  text-align: right;
  font-family: Rubik, Arial, sans-serif;
}

#top-section {
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 420px;
}

footer {
  padding: 0 20px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 48px;
  width: calc(100% - 40px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #696972;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #cfd1e1;
}

.footer-icon::before {
  padding-left: 10px;
  font-size: 20px;
}

.pointer:hover {
  cursor: pointer;
}

#drop-area {
  width: 100%;
  height: 190px;
  background: #cfd1e1;
  border-radius: 8px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #696972;
  display: none;
}

#import-file-icon::before {
  font-size: 32px;
}

.text-small {
  padding: 0 10px;
  margin: 0;
  margin-bottom: -2px;
  font-size: 12px;
  vertical-align: bottom;
}

#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ececf3;
  border-radius: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  padding: 50px;
  padding-bottom: 32px;
}

.message-icon {
  margin-left: 10px;
}

.message {
  height: 100%;
  width: 100%;
}

.message-text-area {
  margin-left: 16px;
}

.message-header {
  font-family: Rubik, Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  padding-right: 48px;
}

.message-icon:before {
  font-size: 20px;
}

.message-button {
  background: #dfe0eb;
  color: #606064;
  border: none;
  padding: 22px 28px;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

.message-button:active {
  background: #cfd1e1;
  -webkit-transition: none;
  transition: none;
}

.disabled {
  opacity: .33;
}

.disabled:hover {
  -webkit-transform: unset;
          transform: unset;
}

.suggested-option {
  background: #5749d1;
  color: #fcfcfc;
  -webkit-box-shadow: 0 6px 24px 0 #a29ae6;
          box-shadow: 0 6px 24px 0 #a29ae6;
}

.suggested-option:active {
  background: #3629a4;
}

.password-field {
  color: #606064;
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  background: #dfe0eb;
  width: 200px;
  margin: 6px 0;
}

.spacer {
  height: 24px;
}

.gh-alert-icon {
  font-size: 48px;
}

.gh-alert-title {
  font-size: 16px;
  margin: 0;
  font-family: Rubik, Arial, sans-serif;
}

.info-content {
  max-height: 100px;
  padding: 0 24px;
  padding-bottom: 60px;
}

.info-dismiss-wrapper {
  width: 100%;
  margin-bottom: -60px;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

.info-fade-in {
  height: 60px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #ececf3), to(transparent));
  background: linear-gradient(0deg, #ececf3 60%, transparent);
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  z-index: 999;
}
/*# sourceMappingURL=style.css.map */